body{
	margin:0;
}
.header{
	border: 2px solid black;
	background-color: #000000;
	color: white;
	margin-bottom: -40px;
	height: 110px;
}
.menu{
	font-family: Berlin Sans FB;
}
.container{

	background-image: linear-gradient(to right, #e6ffcc, #f2ffe6);
}

.RealTree{
	background-image: linear-gradient(to right, #e6ffcc, #f2ffe6);
}

.TukuJudul{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 6px;
	font-weight: 900;
	font-size: 40px;
	margin-top: 120px;
	color: #2e2e1f;
	background-image: linear-gradient(to right, #ffeecc,#fff7e6);
}

ul a{
	padding: 12px;
	color: white;
}

ul{
	position: relative;
	margin-top: -60px;
	margin-bottom: 70px;
}
.find{
	margin-top: -40px;
	font-family: Freestyle Script;
}

.produk,.ribuan,.gratis{
	display: inline-block;
	padding:25px;
	font-family: Maiandra GD;
}

.form10{
	float: right;
	margin-top: -90px;

}
.thumbnail{
	font-family: Tw Cen MT;
	font-size: 20px;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: -1px;
  font-size: 22px;
  border: none;
  cursor: pointer;
  font-family: Berlin Sans FB;

}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
   font-family: Berlin Sans FB;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
